@mixin sq-flex-box() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin add-wrapper {
  max-width: 63rem;
  padding: 1.5rem 1.5rem;
  margin: auto;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
}

// Transition shortcut
@mixin sq-transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  transition: $params;
}

// Opacity with IE filter fallback
// Value should be expressed as a number between 0 and 100
// with 0 being transparent and 100 being opaque
@mixin sq-opacity($value) {
  $decimal-value: $value/100;
  -webkit-opacity: $decimal-value;
  -moz-opacity: $decimal-value;
  opacity: $decimal-value;
  -ms-filter: #{"alpha(opacity=" + $value + ")"};
  filter: alpha(opacity=$value);
}