// Main Brand colours
$uom-black: #000;
$uom-atar-black-off: #dcdcdc;
$uom-atar-black-off-pale: #E1E1E1;
$uom-atar-white: #fff;
$uom-atar-white-off: #fbfbfb;
$uom-atar-bachelors: #7CBDCE;
$uom-atar-gdps: #EBECEC;
$uom-atar-pathways: #59B17F;
$uom-atar-pathways-light-sage: #EAEFE9;
$uom-atar-sage:#ABC1A7;
$uom-atar-blue-light: #ABBED5;
$uom-atar-blue: #1576B9;
$uom-atar-blue-dark: #094183;
$uom-atar-mild-blue: #e1e9f2;
$uom-atar-mild-blue-light: #EEF2F7;
$uom-atar-mild-blue-dark: #ABBED5;
$uom-atar-text-link-blue: #083973;
$uom-atar-cyan: #f6fafc;
$uom-atar-grey: #dcdcdc;
$uom-atar-grey-light: #E1E1E1;
$uom-atar-grey-alt: #f1f1f1;
$uom-atar-green: #59b17f;
$uom-atar-heritage-blue: #000F46;
$uom-atar-border: #E4E4E4;

// Used for font size calculations & conversions
$font-family-fraunces: 'Fraunces';
$font-size-base: 16;

// Breakpoints
$breakpoint-large: 769px;
$breakpoint-small: 480px;
$atar-breakpoint-large: 942px;
$atar-breakpoint-small: 615px;
